/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

/* Header */
body {
font-family: "Roboto", sans-serif;
color:  #434455;
background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #2E2F42;
}

.contacts {
  font-style: normal;  
}

.nav-link:hover {
    color: #404BBF;
}

.nav-link:focus {
    color: #404bbf 
}

.contacts-link:hover {
    color: #404BBF;
}

.contacts-link:focus {
    color: #404bbf 
}

.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455
}

/* Hero */

.hero {
    background: #2E2F42;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #404BBF
}

.hero-btn:focus {
    background-color: #404BBF
}

/* Section Feature */

.feature.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* Our Team */

.team {
    background: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px; 
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-item {
    border-radius: 0 0 4px 4px;
    padding-block: 0px 32px;
    padding-inline: 0px;
    width: 264px;
    height: 380px;
    background: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

